body {
	/*overflow:hidden;*/
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
  background: #1c1c1c;
  user-select: none;
}

* { margin: 0; padding: 0;}

#pix {
	display: block;
	background: #1c1c1c;
	position: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  color: #FFF;
  z-index: 10;
  width: 120px;
  height: 100%;
  padding-top: 40px;

  transition: .2s;
  -webkit-transition: .2s;
}

.sidebar.open {
  left: 0px;
}

.sidebar.closed {
  left: -120px;
}

.sidebar .button {
  background: #FFF3;
  cursor: pointer;
  margin: 2px 14px;
  text-align: center;
  padding: 3px;

  transition: .2s;
  -webkit-transition: .2s;
}

.sidebar .button:hover, .sidebar .button.active {
  background: #FFF7;
}

div.button.play#playPause {
  background: #2bff0077;
}

div.button.play#playPause:hover {
  background: #2bff0099;
}

div.button.pause#playPause {
  background: #F007;
}

div.button.pause#playPause:hover {
  background: #F009;
}