body {
	/*overflow:hidden;*/
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #29073b;
}

* { margin: 0; padding: 0;}

#pix {
	display: block;
	background: #29073b;
	position: fixed;
}
